.bodyEntretien {
    max-width: 80vw;
    margin: auto;
}

.centered {
    text-align: center;
}

.menuButton {
    display: flex;
    flex-direction: column;
    max-width: 25vw;
    margin: auto;
}

.liensEntretien {
    margin: 10px;
}

.navEntretien{
    background-image: url("./interrogation.jpg");
}

.navEntretien ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    padding-bottom: 25px;
    border-bottom: black solid 2px;
}

.navEntretien li {
    list-style: none;
}

.titreEntretien {
    margin: 0px;
    padding: 20px 0px;
}