                @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
                 :root {
                    --main-radius: 10px;
                    --main-padding: 10px;
                }
                
                .container {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    grid-gap: 10px;
                    align-items: stretch;
                    font-family: "Quicksand";
                    font-weight: 800;
                    font-size: medium;
                    text-align: center;
                    justify-content: space-around;
                    /* background-image: url(modernjobsearch.png); */
                    background-color: darkgrey;
                }
                
                .container>article {
                    max-width: 100%;
                }
                
                .article>img {
                    object-fit: cover;
                    width: 100%;
                    max-height: 100%;
                }
                
                img {
                    opacity: 0.5;
                }
                
                img:hover {
                    opacity: 1.0;
                    background-size: 150%;
                    background-position: center;
                    transition: 1s;
                    cursor: pointer;
                }
                
                .link {
                    color: blue;
                }
                
                h4 a:hover {
                    color: orange;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
                    background-position: 0 100%;
                    background-size: auto 6px;
                    background-repeat: repeat-x;
                    text-decoration: none;
                }
                
                .article {
                    grid-area: photo;
                    background: yellow;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                }
                
                @media only screen and (max-width: 960px) {
                    .container {
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr;
                    }
                }
                
                #box {
                    border-radius: var(--main-radius);
                    padding-top: var(--main-padding);
                    transition: 1s;
                }
                
                #box:hover {
                    transform: scale(1.1);
                }