@font-face {
    font-family: "titre";
    src: url("titlePolice.ttf");
}

@font-face {
    font-family: "paragraphe";
    src: url("policeTexte.otf");
}


.centered {
    text-align: center;
}

 /****************** PROPRIETE APPLICABLE A TOUTES LES IMAGES DE LA PAGE *****************************/

img {
    width: 100%;
    height: auto;
    max-width: 640px;
    object-fit: cover;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}


/********************************************* NAVBAR STICKY + TITRE ACCUEIL **************************************************/

.anchor {
    height: 50px;
 background-image: url(banner2.jpg);
}


.headerIndex {
    background-color: white;
    position: sticky;
    top: 0px;
    background-image: url(banner2.jpg);
    z-index: 10; 
}
.navIndex {
    padding-top: 20px;
}
.navIndex ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    padding-bottom: 25px;
    border-bottom: black solid 2px;
    font-family: "titre";
    font-weight: bolder;
 
}

.navIndex li {
    list-style: none;
}



/**************************************************** LIENS DE LA NAVBAR ************************************************/

.linkStyle {
    color: black;
    text-shadow: 10px 5px 5px white;
    font-size: 1.5em;
}

.linkStyle:hover {
    color: rgb(255, 255, 255);
}



/*************************************************** LIENS DES BULLES **********************************************************************/

.linkBubble {
    color: black;
    font-family: "paragraphe";
    font-size: 1.5em;
}

.linkBubble:hover {
    color: rgba(0, 0, 0, 0.479);
}


/***************************************************************** DIV QUI ENGLOBE LES BULLES ***********************************************/

.bulles {

    font-family: "paragraphe";
    font-size: 1em;
}



.bubbles1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;  
}



.imgflot {
    display: flex;
    justify-content: center;
        background: no-repeat center; 
        -webkit-background-size: cover; 
        background-size: cover; 
        margin-bottom: 200px;
    }


/******************************************************* BULLES DE PENSEE ***************************************************************/

.oval-thought {
    position: relative;
    width: 270px;
    padding: 50px 40px;
    margin: 1em auto 80px;
    text-align: center;
    color: rgb(228, 243, 247);
    background: rgb(228, 243, 247);
    border: 5px solid rgb(193, 219, 226);
    /* css3 */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(228, 243, 247)), to(rgb(228, 243, 247)));
    background: -moz-linear-gradient(rgb(228, 243, 247), rgb(228, 243, 247));
    background: -o-linear-gradient(rgb(228, 243, 247), rgb(228, 243, 247));
    background: linear-gradient(rgb(228, 243, 247), rgb(228, 243, 247));
    /*
  NOTES:
  -webkit-border-radius:220px 120px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:220px / 120px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
    -webkit-border-top-left-radius: 220px 120px;
    -webkit-border-top-right-radius: 220px 120px;
    -webkit-border-bottom-right-radius: 220px 120px;
    -webkit-border-bottom-left-radius: 220px 120px;
    -moz-border-radius: 220px / 120px;
    border-radius: 220px / 120px;
}

.oval-thought p {
    font-size: 1.25em;
}

/* creates the larger circle */

.oval-thought:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    width: 30px;
    height: 30px;
    background: rgb(193, 219, 226);
    /* css3 */
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 5px solid rgb(193, 219, 226);
}

/* creates the smaller circle */

.oval-thought:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 30px;
    width: 15px;
    height: 15px;
    background: rgb(193, 219, 226);
    /* css3 */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 5px solid rgb(193, 219, 226);
}


/*************************************************************** ENTRETIEN ET CV *************************************************************/

.banner
{
	background-image: url(banner2.jpg);
	display: grid;
	text-align: center;
	height: 150px;
	width: auto;
	margin-bottom: 200px;
	font-family: "titre";
	font-weight: bolder;
    margin-top: 200px;
    margin:0px;
    padding: 0px;
    box-shadow : 10px 5px 5px black;
    font-size: 65px;
    padding-bottom: 50px;
}


/************************************************************ BANNIERES DE LA PAGE *******************************************************/

.entete
{
	font-size: 0.9em;
	margin: 3rem;
	font-family: "titre";
    text-shadow: 10px 5px 5px rgb(255, 255, 255);
    padding-bottom: 200px;   
}


/************************************************************* TITRES DE LA PAGE **************************************************************/

.titles
{
	display: flex;
	justify-content: center;
    font-family: "titre";
    font-size: 2em;
    margin-bottom: 75px;
    margin-top: 150px;
    background-color : #3b3b3b;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    color : #ddd9d9;
}


/***************************************************** PARAGRAPHES DE LA PAGE CV **********************************************************/
.boxCV
{
	display: flex;
	text-align: right;	
}
.paragrapheCV
{
	line-height: 2em;
	text-indent: 50px;
	margin: 1rem;
	font-size: 1.5em;
	font-family: "paragraphe";
}


/********************************************** IMAGE PLACEE A GAUCHE DU PARAGRAPHE **************************************************/



.imgleft {
    border-radius: 50px;
    box-shadow : 10px 5px 5px rgb(158, 158, 158);
}




/************************************************** IMAGE PLACEE A DROITE DU PARAGRAPHE *********************************************/

.imgright {
    float: right;
    border-radius: 50px;
    box-shadow : 10px 5px 5px black;
}


/****************************************************** PARAGRAPHE SECTION ENTRETIEN **************************************/
.boxEntretien {
    margin-right: 20px;
}
.paragrapheEntretien {
    font-family: "paragraphe";
    font-size: 1.2em;
    line-height: 1.8em;
    text-indent: 0px;
    text-align: center;
}


/**********************************************FOOTER DES PAGES QUI INTRODUISENT LES LIENS **************************************/

.ressources {
    display: flex;
    justify-content: center;
    line-height: 2em;
	text-indent: 50px;
    margin: 1rem;
	font-size: 1.5em;
	font-family: "paragraphe";
}


/*********************************************** BOUTONS DE LIENS DE LA PAGE *********************************************/

.button
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 1rem;
    text-align: center;
	border-radius: 2em;
	height: 5rem;
	width: 100%;
	font-family: "paragraphe";
    margin-bottom: 200px;
    margin-top: 100px;
    color: rgb(0, 0, 0);
}

input:hover {
    background-color: rgb(92, 4, 4);
    color: white;
}

input
{
	border-radius: 2rem;
	font-family: "paragraphe";
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(92, 4, 4);
    width: 100%;
    padding: 40px;
    text-align: center;
}


/* ---------------------------------- RESEAUX ------------------------------------------ */

.headerReseaux
{
	background-image: url(banner2.jpg);
	display: flex;
    justify-content: center;
	height: 150px;
	width: auto;
	margin-bottom: 5rem;
	font-family: "titre";
	font-weight: bolder;
    border-radius: 5px;
    margin-top: 200px;
    margin:0px;
    padding: 0px;
    box-shadow : 10px 5px 5px black;
}

.titleReseaux {
    text-shadow: 10px 5px 5px rgb(255, 255, 255);
    font-size: 65px;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
   --main-radius: 10px;
   --main-padding: 10px;
}

.container {
    margin-top: 200px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-gap: 10px;
   align-items: stretch;
   font-family: "paragraphe";
   font-weight: 800;
   font-size: medium;
   text-align: center;
   justify-content: space-around;
 
}

.container>article {
   max-width: 100%;
}

.imgreseaux {
   opacity: 0.5;
   border-radius: 30px;
   box-shadow: 10px 5px 5px black;
   width: 50%;
   height: auto;
}

.imgreseaux:hover {
   opacity: 1.0;
   background-size: 150%;
   background-position: center;
   transition: 1s;
   cursor: pointer;
}

.link {
   color: rgb(109, 105, 105);
}

.link:hover {
   color: rgb(0, 0, 0);
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
   background-position: 0 100%;
   background-size: auto 6px;
   background-repeat: repeat-x;
   text-decoration: none;
}

.article {
   grid-area: photo;
   height: 100%;
   background-size: cover;
   background-position: center;
}

#box {
   border-radius: var(--main-radius);
   padding-top: var(--main-padding);
   transition: 1s;
}

#box:hover {
   transform: scale(1.1);
}


/********************************* MEDIA QUERIES ****************************************************/

@media screen and (max-width: 990px) {
    body {
        font-size: 75%;
       
    }
    .anchor{
        height: 0px;
    }
    .banner {
        margin: 0px;
        padding: 0px;
    }
    .headerIndex {
        display: flex;
        flex-direction: column-reverse;
        position: fixed;
        bottom: 0px;
        top: initial;
        z-index: 10;
        width: 100%;
        height: auto;
        padding-bottom: 0px;
    }
    .navIndex {
        padding-top: 20px;
    }
    .boxCV {
        flex-direction: column;
        text-align: center;
    }
    .boxMotivation {
        flex-direction: column;
        text-align: center;
    }
    .boxEntretien {
        flex-direction: column;
        font-size: 1.2em;
    }
    .paragrapheEntretien {
        text-align: justify;
    }
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    }
    .banner {
        font-size: 2rem;
    }
    .button {
        grid-template-columns: 1fr;
    }
    input {
        width: 80vw;
        padding: 20px;
    }
}
